---
layout: layouts/base.njk
pagination:
  data: projects
  size: 1
  alias: project
permalink: "/projects/{{ project.title | slug }}/index.html"
eleventyComputed:
    title: "Project: {{ project.title }}"
---
<style>
img {
    max-width: 100%;
    display: block;
}
</style>
<article>
<h1>{{ project.title }}</h1>
{% for block in project.blocks %}
    <div>
        {# <h2>{{ block.blockType }}</h2> #}
        {% if block.blockType === "project_Projectcontent_Blocks_CopyImage" %}
            <img srcSet="{{ block.image.srcSet }}" />
            <div>{{ block.copy | safe }}<div>
        {% elseif block.blockType === "project_Projectcontent_Blocks_Video" %}
            <div style="padding:56.25% 0 0 0;position:relative;">
                <iframe src="https://player.vimeo.com/video/{{ block.content }}" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            </div>
            <script src="https://player.vimeo.com/api/player.js"></script>
        {% elseif block.blockType === "project_Projectcontent_Blocks_CopyVideo" %}
            <div>{{ block.copy | safe }}<div>
            <img srcSet="{{ block.image.srcSet }}" />
        {% elseif block.blockType === "project_Projectcontent_Blocks_Images" %}
            <div class="{{block.display}}" style="display: grid; grid-auto-flow: column; grid-auto-columns: 10rem; grid-gap: 1rem;">
                {% for image in block.images %}
                    <img src="{{ image.sourceUrl }}"/>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <br/>
{% endfor %}
</article>