---
layout: layouts/base.njk
title: Projects List
---
<h1>Projects</h1>
{% for project in projects %}
<article>
    <img style="height: 10rem" srcSet="{{ project.heroImage.srcSet }}" />
    <h1>{{ project.title}}</h1>
    <a href="/projects/{{ project.title | slug }}/index.html">View project</a>
</article>
<hr />
{% endfor %}